
{% extends "base.html" %}
{% from "bootstrap4/form.html" import render_form %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('signup')}}"><button class="btn btn-primary">Register</button></a>
</li>

{% endblock %}

{% block content %}
<h5>Log in</h5>
<br>
{% for message in get_flashed_messages() %}
<p>{{message}}</p>
{% endfor %}
<br>
{{form.csrf_token()}}
<div class="container-fluid">{{ render_form(form) }}</div>

<a class="float-right" href="{{url_for('forgot_password')}}"
   id="yui_3_17_2_1_1700173434951_30" style="text-align: right">Forgot Password?</a>


{% endblock %}