{% extends "base.html" %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{{url_for('signup')}}"><button class="btn btn-primary">Logout</button></a>
</li>

{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info" xmlns="http://www.w3.org/1999/html"><h5 class="mb-0">{{ message }}</h5>

</div>
{% endfor %}
<div class="card-body">
    <p class="card-text">Name: {{current_user.name}}</p>
    <p class="card-text">Email: {{current_user.email}}</p>
    <a href="{{url_for('edit_profile')}}" class="btn btn-primary">Edit Profile</a>
    <a href="{{url_for('full_list')}}" class="btn btn-primary">Back</a>
</div>
{% endblock %}